@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: 'gr';
        src: url("/assets/GoogleSans-Regular.ttf");
    }
}

.hide::-webkit-scrollbar{
    display:none;
}

/* customToast.css */
.notify {
    background-color: #1f1f1f;
    color: white;
    padding: 11px 24px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    left: 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.3s ease-out, transform 1.3s ease-out;
  }
  
  .notify.show {
    opacity: 1;
    transform: translateY(0);
    transition: all 5s ease;
  }
  
  .text{
    background: linear-gradient(74deg, 
    #4285f4 0%, 
    #9b72cb 9%, 
    #d96570 20%, 
    #d96570 24%, 
    #9b72cb 35%, 
    #4285f4 44%, 
    #9b72cb 50%, 
    #d96570 56%, 
    #ffffff 75%, 
    #ffffff 100%
);
-webkit-text-fill-color: transparent; 
            -webkit-background-clip: text;
        font-weight: 500;
  }